<div class="product-card group/parent relative">
  <wishlist-btn [productId]="id"> </wishlist-btn>
  <div [routerLink]="['/productdetails', slug, id]">
    <figure class="relative px-3 pt-3 h-[200px]">
      <div
        class="border border-gray-200 shadow-[0_0_2px] shadow-main rounded-[.625rem] h-full overflow-hidden"
      >
        <img
          class="group-hover/parent:scale-120 duration-500 transition-all object-fill w-full h-full"
          [src]="imgSrc"
          [alt]="title"
        />
      </div>
      <figure
        class="rounded-lg w-15 max-h-8 h-8 overflow-hidden absolute top-5 left-5"
      >
        <img
          [src]="brandImgSrc"
          [alt]="brandName"
          class="size-full object-fill"
        />
        <div class="bg-main/40 absolute top-0 left-0 size-full"></div>
      </figure>
      @if (priceAfterDiscount) {
      <div
        class="absolute bottom-3 right-5 left-5 flex justify-between items-center"
      >
        <span
          class="bg-main text-white text-sm font-bold min-h-6 min-w-7 py-1 px-2 rounded-lg"
          >- {{ (100 - (priceAfterDiscount / price) * 100).toFixed(0) }}%</span
        >
        <span
          class="bg-main text-white text-sm font-bold min-h-6 min-w-7 py-1 px-2 rounded-lg"
          >on sale</span
        >
      </div>
      }
    </figure>
    <div class="px-3 pt-[.625rem]">
      <h5
        class="mb-2 text-lg xl:text-[1rem] font-bold tracking-tight text-text-main line-clamp-1"
      >
        {{ title | term : 3 }}
      </h5>
      <div class="flex items-center gap-1 bg-bg-main rounded-md p-1 mb-2 w-fit">
        <div class="flex justify-center items-center">
          <span class="fa-solid fa-star text-review fa-2xs"></span>
          <span class="text-[.8125rem] font-medium">{{ rate }}</span>
        </div>
        <span class="text-text-3rd text-[.75rem]">({{ quantity }})</span>
      </div>
      <div class="mb-2">
        @if (priceAfterDiscount) {
        <div class="flex gap-0.75 items-center">
          <span class="block font-bold text-lg text-main"
            ><span class="font-light">£</span
            >{{ priceAfterDiscount | currency : "" : "" }}</span
          >
          <span class="block text-xs text-text-3rd line-through"
            >£{{ price | currency : "" : "" }}</span
          >
        </div>
        } @else {
        <span class="block font-bold text-lg text-main"
          ><span class="font-light">£</span
          >{{ price | currency : "" : "" }}</span
        >
        }
      </div>
    </div>
  </div>
  <div class="pb-[.625rem] px-3">
    <add-to-cart-btn [productId]="id"></add-to-cart-btn>
  </div>
</div>
