<section id="product-details" class="mt-[4.0417rem] bg-bg-main pt-5 pb-10">
  <div class="custom-container">
    <nav class="flex" aria-label="Breadcrumb">
      <ol
        class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
      >
        <li class="inline-flex items-center">
          <a
            routerLink="/home"
            class="inline-flex items-center text-sm font-medium text-main hover:text-main cursor-pointer"
          >
            Home
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="rtl:rotate-180 w-2 h-2 text-gray-400 mx-1 font-light"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <a
              routerLink="/products"
              class="ms-1 text-sm font-medium text-text-2nd hover:text-main md:ms-2 cursor-pointer"
              >Products</a
            >
          </div>
        </li>
        <li aria-current="page">
          <div class="flex items-center">
            <svg
              class="rtl:rotate-180 w-2 h-2 text-gray-400 mx-1 font-light"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span
              class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"
              >Product Details</span
            >
          </div>
        </li>
      </ol>
    </nav>
    <div class="mt-7 gap-8 grid grid-cols-12 relative">
      <div class="left-side col-span-5 space-x-4 flex h-[450px]">
        <div class="flex flex-col justify-center items-center gap-3">
          @for (image of productDetails.images; track $index) {
          <figure
            class="overflow-hidden w-[4.5rem] rounded-2xl border border-main cursor-pointer"
            (click)="defaultProductImage = image"
          >
            <img
              [src]="image || '/images/default-loading-image.png'"
              [alt]="'product image ' + $index + 1"
              class="w-full"
            />
          </figure>
          }
        </div>
        <figure class="overflow-hidden size-full rounded-xl border border-main">
          <img
            [src]="defaultProductImage || '/images/default-loading-image.png'"
            [alt]="productDetails.title"
            class="size-full hover:scale-125 transition-transform duration-500 cursor-zoom-in"
          />
        </figure>
      </div>
      <!-- <div class="left-side col-span-5 space-x-4 flex h-[25rem]"> -->
      <!-- <div class="flex flex-col justify-center items-center gap-3">
          @for (image of productDetails.images; track $index) {
          <figure
            class="overflow-hidden w-[4.5rem] rounded-2xl border border-main cursor-pointer"
            (click)="defaultProductImage = image"
          >
            <img
              [src]="image || '/images/default-loading-image.png'"
              [alt]="'product image ' + $index + 1"
              class="w-full"
            />
          </figure>
          }
        </div> -->
      <!-- <owl-carousel-o [options]="productSliderOptions">
          @for (image of productDetails.images; track $index) {
          <ng-template carouselSlide>
            <figure
              class="overflow-hidden size-full rounded-xl border border-main"
            >
              <img
                [src]="
                  defaultProductImage || '/images/default-loading-image.png'
                "
                [alt]="productDetails.title"
                class="size-full hover:scale-125 transition-transform duration-500 cursor-zoom-in"
              />
            </figure>
          </ng-template>
          }
        </owl-carousel-o> -->
      <!-- <figure class="overflow-hidden size-full rounded-xl border border-main">
          <img
            [src]="defaultProductImage || '/images/default-loading-image.png'"
            [alt]="productDetails.title"
            class="size-full hover:scale-125 transition-transform duration-500 cursor-zoom-in"
          />
        </figure> -->
      <!-- </div> -->
      <article class="right-side col-span-7 flex flex-col gap-7">
        <div>
          <h2 class="text-4xl text-text-main mb-4 font-medium">
            {{ productDetails.title }}
          </h2>
          <div class="space-y-3">
            <div class="flex items-center justify-between w-1/2">
              <span
                class="block bg-review px-3 py-1 rounded-lg text-white text-sm"
                >{{ productDetails.category.name }}</span
              >
              <figure
                class="rounded-lg w-15 max-h-8 h-8 overflow-hidden relative"
              >
                <img
                  [src]="productDetails.brand.image"
                  [alt]="productDetails.brand.name"
                  class="size-full object-fill"
                />
                <div class="bg-main/40 absolute top-0 left-0 size-full"></div>
              </figure>
            </div>
            <div class="flex items-center justify-between w-1/2">
              <div>
                @if (productDetails.priceAfterDiscount) {
                <div class="flex gap-1 items-center">
                  <span class="block font-bold text-xl text-main"
                    ><span class="font-light">£</span
                    >{{ productDetails.priceAfterDiscount }}</span
                  >
                  <span class="block text-sm text-text-3rd line-through"
                    >£{{ productDetails.price }}</span
                  >
                  <span
                    class="bg-main text-white text-sm font-bold min-h-6 min-w-7 py-1 px-2 rounded-lg"
                    >-
                    {{
                      (
                        100 -
                        (productDetails.priceAfterDiscount /
                          productDetails.price) *
                          100
                      ).toFixed(0)
                    }}%</span
                  >
                </div>
                } @else {
                <span class="block font-bold text-xl text-main"
                  ><span class="font-light">£</span
                  >{{ productDetails.price }}</span
                >
                }
              </div>
              <div class="flex items-center gap-1">
                <span class="fas fa-star text-review"></span>
                <span class="text-[.875rem] text-text-main font-semibold">{{
                  productDetails.ratingsAverage
                }}</span>
                <span class="text-[.875rem] text-text-main font-normal"
                  >({{ productDetails.quantity }})</span
                >
              </div>
            </div>
            <p class="text-[1rem] text-text-2nd font-medium">
              {{ productDetails.description }}
            </p>
          </div>
        </div>
        <div class="space-y-5">
          <h3 class="text-lg text-text-main font-medium">
            Color :
            <span class="text-text-2nd">{{ selectedProductColor }}</span>
          </h3>
          <ul class="flex gap-6">
            <li
              class="size-10 cursor-pointer border border-main rounded-full bg-[#507CCD]"
              (click)="selectedProductColor = 'Blue'"
            ></li>
            <li
              class="size-10 cursor-pointer border border-main rounded-full bg-white"
              (click)="selectedProductColor = 'White'"
            ></li>
            <li
              class="size-10 cursor-pointer border border-main rounded-full bg-[#C88242]"
              (click)="selectedProductColor = 'Coffee'"
            ></li>
            <li
              class="size-10 cursor-pointer border border-main rounded-full bg-[#212F39]"
              (click)="selectedProductColor = 'Olive'"
            ></li>
            <li
              class="size-10 cursor-pointer border border-main rounded-full bg-[#DCB9A8]"
              (click)="selectedProductColor = 'Beige'"
            ></li>
            <li
              class="size-10 cursor-pointer border border-main rounded-full bg-[#A7B2A3]"
              (click)="selectedProductColor = 'Pistachio'"
            ></li>
          </ul>
        </div>
        @if (productDetails.category.name === "Men's Fashion" ||
        productDetails.category.name === "Women's Fashion" ) {
        <div class="space-y-5">
          <h3 class="text-lg text-text-main font-medium">
            Size : <span class="text-text-2nd">{{ selectedProductSize }}</span>
          </h3>
          <ul class="flex gap-6">
            <li
              [class]="{
                'text-white': selectedProductSize === 'Extra Small',
                'bg-main': selectedProductSize === 'Extra Small',
                'hover:bg-main': selectedProductSize === 'Extra Small',
              }"
              class="py-2 px-4 font-medium uppercase cursor-pointer border border-main rounded-lg hover:bg-bg-main"
              (click)="selectedProductSize = 'Extra Small'"
            >
              xs
            </li>
            <li
              [class]="{
                'text-white': selectedProductSize === 'Small',
                'bg-main': selectedProductSize === 'Small',
                'hover:bg-main': selectedProductSize === 'Small',
              }"
              class="py-2 px-4 font-medium uppercase cursor-pointer border border-main rounded-lg hover:bg-bg-main"
              (click)="selectedProductSize = 'Small'"
            >
              s
            </li>
            <li
              [class]="{
                'text-white': selectedProductSize === 'Medium',
                'bg-main': selectedProductSize === 'Medium',
                'hover:bg-main': selectedProductSize === 'Medium',
              }"
              class="py-2 px-4 font-medium uppercase cursor-pointer border border-main rounded-lg hover:bg-bg-main"
              (click)="selectedProductSize = 'Medium'"
            >
              m
            </li>
            <li
              [class]="{
                'text-white': selectedProductSize === 'Large',
                'bg-main': selectedProductSize === 'Large',
                'hover:bg-main': selectedProductSize === 'Large',
              }"
              class="py-2 px-4 font-medium uppercase cursor-pointer border border-main rounded-lg hover:bg-bg-main"
              (click)="selectedProductSize = 'Large'"
            >
              l
            </li>
            <li
              [class]="{
                'text-white': selectedProductSize === 'Extra Large',
                'bg-main': selectedProductSize === 'Extra Large',
                'hover:bg-main': selectedProductSize === 'Extra Large',
              }"
              class="py-2 px-4 font-medium uppercase cursor-pointer border border-main rounded-lg hover:bg-bg-main"
              (click)="selectedProductSize = 'Extra Large'"
            >
              xl
            </li>
            <li
              [class]="{
                'text-white': selectedProductSize === 'Double Extra Large',
                'bg-main': selectedProductSize === 'Double Extra Large',
                'hover:bg-main': selectedProductSize === 'Double Extra Large',
              }"
              class="py-2 px-4 font-medium uppercase cursor-pointer border border-main rounded-lg hover:bg-bg-main"
              (click)="selectedProductSize = 'Double Extra Large'"
            >
              xxl
            </li>
            <li
              [class]="{
                'text-white': selectedProductSize === 'Triple Extra Large',
                'bg-main': selectedProductSize === 'Triple Extra Large',
                'hover:bg-main': selectedProductSize === 'Triple Extra Large',
              }"
              class="py-2 px-4 font-medium uppercase cursor-pointer border border-main rounded-lg hover:bg-bg-main"
              (click)="selectedProductSize = 'Triple Extra Large'"
            >
              xxxl
            </li>
          </ul>
        </div>
        }
        <div>
          <button class="add-to-cart-btn cursor-pointer" type="button">
            <i class="fas fa-shopping-cart block me-1"></i> Add to Cart
          </button>
        </div>
      </article>
    </div>
  </div>
</section>
