app-products{
  .my-pagination {
    width: 100%;
  }
  .my-pagination ul.ngx-pagination li:is(.pagination-previous,.pagination-next) a{
    border-radius: .625rem;
    transition: 0.15s background-color ease-in-out , 0.15s color ease-in-out
  }
  .my-pagination ul.ngx-pagination li:is(.pagination-previous,.pagination-next) a:hover{
    background-color: rgba(139, 94, 53,0.7);  
    color: white;
  }
  .my-pagination .ngx-pagination  {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  .my-pagination .ngx-pagination .current {
    background-color: #8B5E35;
    border-radius: 50%;
     width:1.875rem;
    height:1.875rem;
    text-align: center;
  }
  
  .my-pagination .ngx-pagination li:not(.current,.pagination-next,.pagination-previous) a {
    border-radius: 50%;
    width:1.875rem;
    height:1.875rem;
    text-align: center;
  }
}