<section id="cart" class="pt-5 pb-10 bg-bg-main">
  <div class="custom-container">
    <nav class="flex" aria-label="Breadcrumb">
      <ol
        class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
      >
        <li class="inline-flex items-center">
          <a
            routerLink="/home"
            class="inline-flex items-center text-sm font-medium text-main hover:text-main cursor-pointer"
          >
            Home
          </a>
        </li>
        <li aria-current="page">
          <div class="flex items-center">
            <svg
              class="rtl:rotate-180 w-2 h-2 text-gray-400 mx-1 font-light"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span
              class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"
              >Cart</span
            >
          </div>
        </li>
      </ol>
    </nav>
    @if(cartDetails.products.length){
    <div class="flex justify-between items-center w-full lg:w-1/2 my-7">
      <div class="flex items-center gap-3">
        <h2 class="text-text-main text-3xl font-semibold">Cart</h2>
        <span
          class="text-main text-[1rem] font-medium block bg-white rounded-lg px-[1rem]"
          >{{ cartDetails.products.length }} Items</span
        >
      </div>
      <button
        (click)="clearCartData()"
        class="capitalize text-sm rounded-md p-2 text-main bg-transparent border border-main hover:text-white hover:bg-main transition-colors duration-500 cursor-pointer"
      >
        clear cart <i class="fas fa-trash"></i>
      </button>
    </div>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-span-8 flex-col gap-10">
        <div class="divide-y-1">
          @for (product of cartDetails.products; track product?.product?.id ) {
          <div
            [class]="{
              'pt-0': $first,
              'pb-0': $last,
            }"
            class="border-text-main py-5"
          >
            <div
              class="bg-white w-full rounded-lg shadow-[0_0_3px] shadow-main h-[180px] grid grid-cols-12 gap-3 md:h-[13.75rem]"
            >
              <figure
                class="overflow-hidden col-span-5 sm:col-span-3 size-full p-3 flex items-center"
              >
                <img
                  [src]="
                    product?.product?.imageCover ||
                    '/images/default-loading-image.png'
                  "
                  [alt]="product?.product?.title"
                  class="size-full rounded-lg shadow-[0_0_3px] shadow-main"
                />
              </figure>
              <div
                class="col-span-7 sm:col-span-9 pe-5 py-5 flex flex-col justify-center gap-3 sm:flex-row sm:items-center sm:justify-between"
              >
                <div class="flex flex-col justify-center gap-4">
                  <h3
                    class="text-text-main text-[1rem] sm:text-[1.25rem] line-clamp-2"
                  >
                    {{ product?.product?.title }}
                  </h3>
                  <div class="flex items-center gap-5">
                    <div
                      class="flex justify-center gap-10 bg-bg-main border border-[#A2A3B1] rounded-full px-2 py-1 sm:rounded-lg sm:px-4 sm:py-2"
                    >
                      <button
                        class="text-text-main cursor-pointer"
                        (click)="
                          updateSpecificCartProductQuantityData(
                            product.product.id,
                            product.count - 1
                          )
                        "
                      >
                        <i
                          [class]="{
                            'fa-minus': product.count > 1,
                            'fa-trash': product.count === 1
                          }"
                          class="fas"
                        ></i>
                      </button>
                      <span class="text-text-main">{{ product.count }}</span>
                      <button
                        class="text-text-main cursor-pointer"
                        (click)="
                          updateSpecificCartProductQuantityData(
                            product.product.id,
                            product.count + 1
                          )
                        "
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <button
                      (click)="
                        removeSpecificCartProductData(product.product.id)
                      "
                      class="block"
                    >
                      <i
                        class="fas fa-trash text-main cursor-pointer hover:text-2nd"
                      ></i>
                    </button>
                  </div>
                </div>
                <span class="font-bold text-text-main text-[1rem]"
                  ><span class="font-normal">£</span
                  >{{
                    product.price * product.count | currency : "" : ""
                  }}</span
                >
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="col-span-12 lg:col-span-4">
        <div
          class="bg-white rounded-[.625rem] p-8 shadow-[0_0_3px] shadow-main"
        >
          <h3 class="capitalize text-text-main text-2xl font-medium mb-8">
            order summary
          </h3>
          <div class="flex justify-between items-center mb-6">
            <span
              class="uppercase text-text-main text-sm leading-6 font-semibold"
              >total price</span
            >
            <span class="text-text-main text-sm leading-5 font-normal"
              ><span>£</span
              >{{ cartDetails.totalCartPrice | currency : "" : "" }}</span
            >
          </div>
          <a
            [routerLink]="['/checkout', cartDetails._id]"
            class="proceed-to-checkout-btn mb-0"
          >
            Proceed to Checkout
          </a>
        </div>
      </div>
    </div>
    }@else {
    <div>
      <figure class="h-[50vh]">
        <img
          src="/images/cart-empty.png"
          alt="Empty Cart"
          class="size-full object-contain"
        />
      </figure>
      <div class="flex flex-col justify-center items-center">
        <h2 class="capitalize font-bold text-text-main text-3xl mb-4">
          your prestora cart is empty
        </h2>
        <p class="text-text-2nd text-lg font-medium mb-4">
          Looks like your cart is waiting to be filled. Explore thousands of
          Prestora products today.
        </p>
        <a routerLink="/products" class="block empty-cart-btn capitalize"
          >start shopping</a
        >
      </div>
    </div>
    }
  </div>
</section>
