<section class="cursor-pointer">
  <owl-carousel-o [options]="mainSliderOptions">
    <ng-template carouselSlide
      ><figure>
        <img
          src="/images/ms-1.avif"
          alt="main slider first banner"
          class="w-full object-fill"
        /></figure
    ></ng-template>
    <ng-template carouselSlide
      ><figure>
        <img
          src="/images/ms-2.avif"
          alt="main slider second banner"
          class="w-full object-fill"
        /></figure
    ></ng-template>
    <ng-template carouselSlide
      ><figure>
        <img
          src="/images/ms-3.avif"
          alt="main slider third banner"
          class="w-full object-fill"
        /></figure
    ></ng-template>
    <ng-template carouselSlide
      ><figure>
        <img
          src="/images/ms-4.avif"
          alt="main slider fourth banner"
          class="w-full object-fill"
        /></figure
    ></ng-template>
  </owl-carousel-o>
</section>
