<section class="pb-10">
  <div class="border-b border-text-3rd mb-10">
    <div class="flex justify-between items-center">
      <h2 class="home-section-heading">
        Shop on <span class="text-main">Popular Brands</span>
      </h2>
      <a
        routerLink="/brands"
        class="text-[.75rem] sm:text-sm text-text-2nd font-medium cursor-ponter"
        >View All <i class="fas fa-angle-right text-main"></i
      ></a>
    </div>
  </div>
  <owl-carousel-o [options]="brandsSliderOptions">
    @for (brand of allBrands; track brand._id) {
    <ng-template carouselSlide [id]="brand._id">
      <div class="flex flex-col justify-center items-center">
        <figure
          class="size-[6.875rem] rounded-full overflow-hidden border border-main cursor-pointer shadow-main shadow-md hover:shadow-xl transition-shadow duration-500"
        >
          <img
            [src]="brand.image"
            [alt]="brand.name"
            [title]="brand.name"
            class="size-full object-fill"
          />
        </figure>
        <h3 class="mt-3 text-2nd text-lg text-center font-semibold">
          {{ brand.name }}
        </h3>
      </div>
    </ng-template>
    }
  </owl-carousel-o>
</section>
