<nav
  class="bg-bg-main fixed w-full z-20 top-0 start-0 border-b-[.0938rem] border-gray-200 h-[69px] min-h-[69px]"
>
  <div class="custom-container">
    <div class="flex flex-wrap items-center justify-between mx-auto py-4 px-3">
      <a routerLink="home" class="flex items-center rtl:space-x-reverse">
        <img
          src="/images/logo.png"
          alt="Prestora Logo"
          class="w-15 h-8 object-contain"
        />
        <span
          class="hidden md:block self-center text-2xl whitespace-nowrap text-main font-semibold"
          >Prestora</span
        >
      </a>
      <div
        class="flex items-center justify-end order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
      >
        <button
          data-collapse-toggle="navbar-sticky"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
          aria-controls="navbar-sticky"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
      </div>
      <div
        class="items-center justify-between hidden w-full md:flex md:items-center md:justify-center md:w-auto order-3 md:order-1 md:grow-1"
        id="navbar-sticky"
      >
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 rtl:space-x-reverse md:gap-x-4 md:flex-row md:mt-0 md:border-0 md:bg-transparent lg:gap-x-8"
        >
          <li>
            <a
              routerLinkActive="navlinkactive"
              routerLink="home"
              class="navlink"
              >Home</a
            >
          </li>
          <li>
            <a
              routerLinkActive="navlinkactive"
              routerLink="products"
              class="navlink"
              >Products</a
            >
          </li>
          <li>
            <a
              routerLinkActive="navlinkactive"
              routerLink="categories"
              class="navlink"
              >Categories</a
            >
          </li>
          <li>
            <a
              routerLinkActive="navlinkactive"
              routerLink="brands"
              class="navlink"
              >Brands</a
            >
          </li>
        </ul>
      </div>
      <div
        [class]="{
          hidden: !isLoggedIn
        }"
        class="flex items-center justify-center order-1 md:order-2 h-[2.3423rem]"
      >
        <ul class="flex items-center justify-center space-x-4">
          <li>
            <a routerLinkActive="!text-main" routerLink="wishlist"
              ><i class="fas fa-heart fa-xl hover:text-main"></i
            ></a>
          </li>
          <li>
            <a routerLinkActive="!text-main" routerLink="cart">
              <i class="fas fa-cart-shopping fa-xl hover:text-main"></i
            ></a>
          </li>
          <li>
            <i
              id="dropdownDividerButton"
              data-dropdown-toggle="dropdownDivider"
              class="fas fa-user fa-xl hover:text-main cursor-pointer"
            ></i>
          </li>
        </ul>
      </div>
      <div
        [class]="{
          hidden: isLoggedIn
        }"
        class="flex items-center justify-center order-1 md:order-2"
      >
        <ul class="flex items-center justify-center gap-2 h-[2.3423rem]">
          <li>
            <a
              routerLink="login"
              class="bg-transparent text-main rounded-full border border-main py-2 px-4 text-sm hover:bg-main hover:text-white cursor-pointer transition-colors duration-300 lg:min-w-[7.5rem] block text-center"
              >Login</a
            >
          </li>
          <li>
            <a
              routerLink="signup"
              class="bg-main text-white rounded-full border border-main py-2 px-4 text-sm hover:bg-main cursor-pointer transition-colors duration-300 lg:min-w-[7.5rem] block text-center"
              >Sign Up</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Dropdown menu -->
<div [class]="{ hidden: isLoggedIn === false, block: isLoggedIn === true }">
  <div
    id="dropdownDivider"
    class="z-30 hidden bg-bg-main divide-y divide-gray-800 rounded-lg shadow-sm w-44 translate-y-[18%]"
  >
    <div class="px-2 py-2">
      <i class="fas fa-user-circle text-main"></i>
      {{ signinDecodedToken?.name?.split(" ", 1)?.join() }}
    </div>
    <ul
      class="py-2 text-sm text-gray-700"
      aria-labelledby="dropdownDividerButton"
    >
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Profile</a>
      </li>

      <li>
        <a routerLink="allorders" class="block px-4 py-2 hover:bg-gray-100"
          >My Orders</a
        >
      </li>
    </ul>
    <div class="py-2">
      <a
        class="block px-4 py-2 text-sm text-red-700 hover:bg-gray-100 cursor-pointer"
        (click)="signOut()"
      >
        Sign Out
      </a>
    </div>
  </div>
</div>
