<!-- Angular Template Engine Variables for Login Component -->
@let emailControl = loginForm.get("email"); @let passwordControl =
loginForm.get("password");

<section
  id="login"
  class="p-5 bg-bg-main h-screen flex items-center justify-center"
>
  <div
    class="grid grid-cols-12 shadow-[0_0_8px_rgba(0,0,0,0.5)] max-w-[61.8333rem] grow lg:mx-auto"
  >
    <div class="col-span-12 md:col-span-6 p-10 h-full">
      <h2 class="font-semibold text-[2rem] text-text-main text-center">
        Welcome Back
      </h2>
      <p class="text-[1.125rem] text-text-2nd mb-6 text-center">
        Please login or sign up to continue to our app
      </p>
      <form action="" [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <input-field
          [type]="'text'"
          [label]="'E-mail'"
          [id]="'email'"
          [name]="'email'"
          [placeholder]="'Ex: mark@gmail.com'"
          [control]="emailControl"
        ></input-field>
        <input-field
          [label]="'Password'"
          [id]="'password'"
          [name]="'password'"
          [placeholder]="'Ex: xxxxxxxxxxxxx'"
          [control]="passwordControl"
        ></input-field>
        <div class="flex justify-between mb-4">
          <div class="flex items-center">
            <input
              type="checkbox"
              id="rememberme"
              name="rememberme"
              class="me-2 accent-main p-2 rounded border border-main focus:outline-none focus:ring-main"
            />
            <label for="rememberme" class="text-text-2nd text-[.9375rem]"
              >Remember Me</label
            >
          </div>
          <a routerLink="login" class="text-main underline cursor-pointer"
            >Forget Password ?</a
          >
        </div>
        <button class="auth-btn" type="submit">
          Log in @if(isLoading){<i class="fas fa-spinner fa-spin"></i>}
        </button>
        <p class="text-text-2nd text-[.9375rem] text-center mb-6">
          Don’t have an account ?
          <a routerLink="/signup" class="text-main underline">Sign up.</a>
        </p>
        @if (errMsg) {
        <alert
          ><div class="text-center">{{ errMsg }}</div></alert
        >
        } @else if(successMsg){
        <success-alert
          ><p class="text-center">Welcome {{ username }} !</p></success-alert
        >
        }
      </form>
    </div>
    <div
      class="hidden md:flex md:justify-center md:items-center md:col-span-6 bg-main"
    >
      <figure class="hidden md:block md:col-span-6">
        <img
          src="images/auth-pages-side-logo1.png"
          alt="Prestora Logo"
          class="object-cover w-full h-full"
        />
      </figure>
    </div>
  </div>
</section>
